# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
*.log

# FastAPI/Uvicorn
*.db
instance/
.env

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Backup
*.bak
*.old
*~
